<h1>Characters</h1>

 <div>
   <% @characters.each do |character| %>
     <h2>Name: <%= character.name %></h2>
     <p><img src="<%= character.img_url %>"></p>
     <p><%= link_to "View Character", character_path(character) %> | <%= link_to "Edit Character", edit_character_path(character) %> | <%= link_to "Obliterate Character", character_path(character), method: :delete, data: {confirm: "Are you sure you want to execute this poor soul?"} %></p>
   <% end %>
 </div>
