<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <nav>
       <h3><%= link_to "View All Houses", houses_path%> | <%= link_to "View All Characters", characters_path%> | <%= link_to "Create a House", new_house_path %> | <%= link_to "Create a Character", new_character_path %>
 </h3>
     </nav>
    <%= yield %>
  </body>
</html>
